<apex:page controller="AccountSearchController">
    <apex:form id="frm">
 <apex:pageblock >
     <apex:pageBlockSection >
     
         <apex:inputText label="Account Name" value="{!accountName}"/>
         <apex:commandButton value="Seach" action="{!searchAccount}" reRender="frm"/>
     </apex:pageBlockSection>
     <apex:pageBlockSection rendered="{!showAccounts}" columns="1" >
         <apex:repeat value="{!accountList}" var="account">
             {!account.Name}<br/>
         
         </apex:repeat>
     
     </apex:pageBlockSection>
 
 </apex:pageblock>
 </apex:form>
</apex:page>