<apex:page showHeader="false" sidebar="false">
 <!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8"/>

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->

<form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

<input type="hidden" name="oid" value="00D90000000qqhw"/>
<input type="hidden" name="retURL" value="http://www.colemanaustralia.com.au"/>

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail"                                  -->
<!--  value="developer@extentor.com">                                         -->
<!--  ----------------------------------------------------------------------  -->
<table align="center">
    <tr>
        <td>
            <label for="first_name">First Name</label>
        </td>
        <td>
            <input  id="first_name" maxlength="40" name="first_name" size="20" type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="last_name">Last Name</label>
        </td>
        <td>
            <input  id="last_name" maxlength="80" name="last_name" size="20" type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="email">Email</label>
        </td>
        <td>    
            <input  id="email" maxlength="80" name="email" size="20" type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="mobile">Mobile</label>
        </td>
        <td>
            <input  id="mobile" maxlength="40" name="mobile" size="20" type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="company">Company</label>
        </td>
        <td>
            <input  id="company" maxlength="40" name="company" size="20" type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="city">City</label>
        </td>
        <td>
             <input  id="city" maxlength="40" name="city" size="20" type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="state">State/Province</label>
        </td>
        <td>
             <input  id="state" maxlength="20" name="state" size="20" type="text" />
        </td>
    </tr>
     <tr>
        <td>
            <label for="country">Country</label>
        </td>
        <td>
             <input  id="country" maxlength="40" name="country" size="20" type="text" />
        </td>
    </tr>
     <tr>
        <td>
            <label for="description">Comments</label>
        </td>
        <td>
             <textarea name="description"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2">
           <input type="submit" name="submit"/>
        </td>
    </tr>
</table>
</form>

</apex:page>